<!doctype html>
<html>
	<body>
	<center><h2><font face = "fantasy">Good Luck!</font></h2>
	<hr color = "lightblue" width = "20%">
	<hr color = "black" width = "25%">
	<hr color = "lightblue" width = "30%">

		<p>You have chosen for player one to be <%=player_one_marker%> and player two to be <%=player_two_marker%>.</p>
	
		<br>

	<table>
		<tr>
			<td><%=board[0]%></td>
			<td><%=board[1]%></td>
			<td><%=board[2]%></td>
		</tr>
		<tr>
			<td><%=board[3]%></td>
			<td><%=board[4]%></td>
			<td><%=board[5]%></td>
		</tr>
		<tr>
			<td><%=board[6]%></td>
			<td><%=board[7]%></td>
			<td><%=board[8]%></td>
		</tr>
		
	</table> 

		</form>
	</center>
	</body>
</html>